@import "tailwindcss";

@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --animate-toast-countdown: toast-countdown 4s linear forwards;

    @keyframes toast-countdown {
        from {
            width: 100%;
        }
        to {
            width: 0;
        }
    }
}

html,
body {
    @apply bg-white dark:bg-gray-950;

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }
}

.input-styles {
    @apply border border-gray-300 placeholder:text-gray-400 p-2 rounded-sm;
}